<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ScreenshotMatcher Monitor</title>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css" />

  <!-- Custom Theme -->
  <link rel="stylesheet" href="/static/theme.css" />
  
  <!-- jquery -->
  <script src="/static/jquery-3.5.1.min.js"></script>

  <!-- dataTables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

</head>
<body>

  <!-- Main Container -->
  <main class="uk-container uk-margin-top">

    <!-- Title -->
    <h3 class="uk-text-center">Dashboard</h3>

    <!-- Tab Navigation -->
    <ul 
      class="uk-flex-center" 
      uk-tab 
      uk-switcher="animation: uk-animation-slide-left-medium, uk-animation-slide-right-medium"
      >
      <li><a href="#">Users</a></li>
      <li><a href="#">Feedback</a></li>
    </ul>

    <!-- Tab Content -->
    <ul class="uk-switcher uk-margin">
      <li><%- include("tabs/tab_users.ejs") %></li>
      <li><%- include("tabs/tab_feedback.ejs") %></li>
    </ul>

  </main>
  
  
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/js/uikit-icons.min.js"></script>

</body>
</html>